
@"
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git/
.github/
.idea/
.vscode/
tests/
test_*.py
*/tests/
*/test_*.py
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
*.log
.env
.env.*
!.env.template
Dockerfile
docker-compose*.yml
README.md
LICENSE
.dockerignore
"@ | Out-File -FilePath .dockerignore -Encoding UTF8